/community/code/java/OutsideInMonitor/.gradle
/community/code/java/OutsideInMonitor/bin
/community/code/java/OutsideInMonitor/build
community/code/java/OutsideInMonitor/src/main/resources/application.properties
